<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--
  目前有三种尺寸的纸张，单排:60*40,双排:40*20,三排:30*20
  选择打印哪种列的时候需要设置打印机的纸张高度、宽度
  -->
  <appSettings>
    <add key="PrinterName" value="ZDesigner GK888t (EPL)" />
  </appSettings>
  
  
</configuration>